<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ControladorClientes</display-name>
    <servlet-name>ControladorClientes</servlet-name>
    <servlet-class>servlet.ControladorClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorClientes</servlet-name>
    <url-pattern>/ControladorClientes</url-pattern>
  </servlet-mapping>
  <display-name>VGSECURITY</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControladorPRODUCTO</display-name>
    <servlet-name>ControladorPRODUCTO</servlet-name>
    <servlet-class>servlet.ControladorPRODUCTO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorPRODUCTO</servlet-name>
    <url-pattern>/ControladorPRODUCTO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUsuario</display-name>
    <servlet-name>LoginUsuario</servlet-name>
    <servlet-class>servlet.LoginUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUsuario</servlet-name>
    <url-pattern>/LoginUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorPRODUCTOS</display-name>
    <servlet-name>ControladorPRODUCTOS</servlet-name>
    <servlet-class>servlet.ControladorPRODUCTOS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorPRODUCTOS</servlet-name>
    <url-pattern>/ControladorPRODUCTOS</url-pattern>
  </servlet-mapping>
</web-app>